*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header .container{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 25px;
    background-color: #952210;
    color: #ecc8af;
    font-family: "Quintessential", serif;
    }
body, input, textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size: 40px;
    padding: 12px;
    color: white;
    border: solid white;
}
header li{
    display: inline;
    margin: 30px;
    font-size: 26px;
}
header li a{
    text-decoration: none;
    color: #ecc8af;
}
header li a:hover{
    color: black;
}
h2{
    font-family: "Quintessential", serif;
    font-size: 30px;
    margin-left: 60px;
    border-bottom: solid 3px;
}
section .container img{
    margin: 30px;
    border: double #373c3f;
}
section .container{
    display: flex;
    align-items: center;
    text-align: justify;
}
p {
    margin: 16px 30px;
}
section .articles{
    align-items: center;
    margin-left: 30px;
    display: flex;
    padding: 20px 0;
}
.articles img{
    border-radius: 15%;
    height: 280px;
}
.articles a{
    background-color: #952210;
    text-decoration: none;
    color: #ecc8af;
    padding: 6px;
}
.articles a:hover{
    color: #c1825d;
}
.contact-methods h2{
    margin: 0 0px 20px 0px;
}
section .contact-methods{
    text-align: center;
}
.contact-methods img {
    height: 15px;
}
.contact-methods, li, li a{
    text-decoration: none;
    color: #ecc8af;
    padding: 5px;
}
.contact-methods li a:hover{
    color: #c1825d;
}
#about{
    background: linear-gradient(350deg, #c1825d, #a12f1d);
    color: black;
}
#services{
    background-color:  #dfba9f;
    color: #952210;
}
#contact{
    background-color: #373c3f;
    color: #ecc8af;
}
footer {
    background-color: #952210;
    color: #ecc8af;
    padding: 10px;
    text-align: center;
}